# Tools
matplotlib==3.4.3
numpy>=1.14.0
Pillow==7.0.0
opencv-python==4.5.4.58
object-detection-0.1==0.1
six==1.14.0

# TensorFlow
tensorflow==1.15.0
tensorflow-estimator==1.15.1
protobuf==3.11.3

# Flask
Flask